#level-zero {
  color: #61dafb;
}
.class-img {
  height: 50vmin;
}
.class-title {
  float: right;
}
.level-area{
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .class-img {
    height: 50vmin;
  }
}
