.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.logo {
  z-index: -1;
  margin: 0 .5rem .5rem 0;
  height: 25vmin;
}
.button-div {
  margin: 1.5rem;
}
#nav-button {
  border-radius: 30px;
  padding: 18px 25px;
  outline: none;
}

@media only screen and (max-width: 767px) {
  .footer {
    justify-content: space-between;
  }
}
