/* .app {
  text-align: center;
  text-align: -webkit-center;
  background-color: #282c34;
  min-height: 100vh;
} */


.container {
  /* text-align: justify;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-text-align-last: center;
  font-size: calc(10px + 1.5vmin); */
  padding: 3.25rem 10% 0;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  z-index: -1;
  margin: 0 .5rem .5rem 0;
  height: 25vmin;
}
.button-div {
  margin: 1.5rem;
}
#nav-button {
  border-radius: 30px;
  padding: 18px 25px;
}
/* .header {
  text-align: justify;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-text-align-last: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
  padding: 1.25rem 10%;
} */
