/* .app {
  text-align: center;
  text-align: -webkit-center;
  background-color: #282c34;
  min-height: 100vh;
} */


.container {
  /* text-align: justify;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-text-align-last: center;
  font-size: calc(10px + 1.5vmin); */
  padding: 3.25rem 10% 0;
}
/* .header {
  text-align: justify;
  text-align-last: center;
  -moz-text-align-last: center;
  -webkit-text-align-last: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
  padding: 1.25rem 10%;
} */
